@import '~LessConstants';

.container {
  background-color: @misty-grey;

  .content {
    width: 100vw;
    height: ~'calc(100vh - 60px)';
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
