@import '~LessConstants';

.container {
  display: inline-block;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }

  .message {
    display: inline-block;
    vertical-align: middle;
    font-family: @main-font;
    color: @graphite;
    font-size: 16px;
  }
}
