@main-font: 'Open Sans', sans-serif;

@white: #fff;
@black: #000;

@sky-blue: #3399ff;
@water-blue: #c6e2ff;
@fire-red: #ff4040;

@graphite: #1b1b1b;
@misty-grey: #ebebeb;

@red: #cc3232;
@yellow: #e7b416;
@green: #2dc937;
