@import '~LessConstants';

.container {
  position: relative;
  width: 100%;
  background-color: @sky-blue;

  .content {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left-box {
      flex: 0 1 auto;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        margin: 0 15px;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        font-family: @main-font;
        font-size: 20px;
        line-height: 1.33;
        color: @white;
      }
    }

    .right-box {
      flex: 0 1 auto;
      margin-right: 30px;

      .link {
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        font-family: @main-font;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
        line-height: 1.33;
        color: @white !important;
        border-bottom: 2px solid @sky-blue;
        text-decoration: none;
        padding-bottom: 5px;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border-bottom: 2px solid @white;
        }

        &:visited {
          color: inherit;
        }
      }
    }
  }
}
