@import '~LessConstants';

.new-box {
  position: absolute;
  left: 0;
  top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid @fire-red;
  background-color: @white;
  padding: 20px;
  z-index: 15;

  &:after {
    content: ' ';
    position: absolute;
    left: 100px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid @fire-red;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;

    .heading {
      font-family: @main-font;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
      color: @fire-red;
    }

    input {
      width: 230px;
      font-family: @main-font;
      font-size: 14px;
      color: @graphite;
      border-radius: 4px;
      border: 2px solid @fire-red;
      outline: none;
      padding: 4px 8px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 250px;
    }
  }
}
