@import '~LessConstants';

.medium-button {
  display: block;
  width: 110px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid @fire-red;
  outline: none;
  padding: 8px 0;
  letter-spacing: 1.5px;

  &:hover {
    cursor: pointer;
  }

  &.full {
    background-color: @fire-red;
    color: @white;
  }

  &.outline {
    background-color: @white;
    color: @fire-red;
  }
}
