@import '~LessConstants';

.outline-button {
  display: block;
  max-height: 40px;
  background-color: @white;
  color: @sky-blue;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid @sky-blue;
  outline: none;
  padding: 6px 8px;
  letter-spacing: 1.5px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
