@import '~LessConstants';

.container {
  .user-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .heading {
    font-family: @main-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: @graphite;
  }

  .users-heading {
    .heading();
    display: inline-block;
    margin-right: 10px;
  }

  .filters-heading {
    .heading();
    margin-bottom: 15px;
  }

  .filters-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px @misty-grey;
    margin-bottom: 10px;

    .link {
      align-self: flex-end;
      width: 80px;
      font-family: @main-font;
      font-size: 14px;
      line-height: 1.4;
      color: @graphite;
      text-align: center;
      text-transform: capitalize;
      margin-right: 25px;
      padding: 5px 0 15px 0;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }

    .normal {
      font-weight: 300;
    }

    .active {
      font-weight: 600;
      border-bottom: 2px solid @sky-blue;
    }

    .delete {
      display: block;
      z-index: 5;
      margin: auto;
      cursor: pointer;
    }
  }
}
