@import '~LessConstants';

.dropdown {
  position: relative;
  display: block;
  width: 250px;
  height: 31px;
  font-family: @main-font;
  font-size: 14px;

  select {
    width: 250px;
    height: 31px;
    background-color: @white;
    color: @graphite;
    font-size: inherit;
    text-transform: capitalize;
    border: 2px solid @fire-red;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 2.5px 2.5px 2.5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: '\25BC';
    color: @fire-red;
    font-size: 12px;
    line-height: 1;
    right: 8px;
    top: 10px;
  }

  &::before {
    content: '';
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: @white;
    border: 2px solid @fire-red;
    border-left: 0;
  }
}
