@import '~LessConstants';

.list-item {
  position: relative;
  font-family: @main-font;
  user-select: none;
  border-radius: 5px;
  padding: 16px;
  margin: 0 0 8px 0;
  z-index: 5;

  .delete {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
  }

  .content {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
  }

  .tags {
    width: 100%;
    text-align: center;

    .category {
      display: inline-block;
      border-radius: 10px;
      color: @white;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 2px 4px;
      margin-right: 10px;
    }

    .priority {
      display: inline-block;
      border-radius: 2px;
      color: @white;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      padding: 2px 4px;
      margin-right: 10px;
    }

    .date {
      display: inline-block;
      color: @graphite;
      font-size: 9px;
      border: 1px solid @graphite;
      padding: 1px 2px;
    }

    // priority labels
    .low {
      background-color: @green;
    }

    .medium {
      background-color: @yellow;
    }

    .high {
      background-color: @red;
    }

    // dynamic category labels
    .cat_0 {
    }

    .cat_1 {
      background-color: #c3c28d;
    }

    .cat_2 {
      background-color: #c6c5eb;
    }

    .cat_3 {
      background-color: #799bc1;
    }

    .cat_4 {
      background-color: #ffb5c5;
    }

    .cat_5 {
      background-color: #79cadc;
    }

    .cat_6 {
      background-color: #95c4c0;
    }

    .cat_7 {
      background-color: #ff7f50;
    }

    .cat_8 {
      background-color: #ff0055;
    }
  }
}
