@import '~LessConstants';

.big-button {
  display: block;
  width: 240px;
  background-color: @fire-red;
  color: @white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 8px 0;
  letter-spacing: 1.5px;

  &:hover {
    cursor: pointer;
  }
}
