@import '~LessConstants';

.container {
  .edit-icon {
    border-radius: 4px;
    border: 1px solid @sky-blue;
    padding: 3px 3px 0 3px;
    cursor: pointer;
  }

  .editing-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.category {
      width: 300px;
    }

    &.user,
    &.list {
      width: 230px;
    }

    input {
      font-family: @main-font;
      font-size: 12px;
      color: @graphite;
      border-radius: 4px;
      border: 1px solid @sky-blue;
      outline: none;
      padding: 2px 4px;
    }
  }
}
