@import '~LessConstants';

.container {
  display: inline-block;
  border: 1px solid @fire-red;
  padding: 10px 15px;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }

  .message {
    display: inline-block;
    vertical-align: middle;
    font-family: @main-font;
    color: @fire-red;
    font-size: 16px;
  }
}
