@import '~LessConstants';

.small-button {
  display: block;
  background-color: @white;
  color: @sky-blue;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid @sky-blue;
  outline: none;
  padding: 2px 3px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    color: @misty-grey;
    border: 1px solid @misty-grey;
    cursor: default;
  }
}
