@import '~LessConstants';

.modal-button {
  display: block;
  background-color: @sky-blue;
  color: @white;
  font-size: 13px;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 8px;
  letter-spacing: 1.2px;

  &:hover {
    cursor: pointer;
  }
}
