@import '~LessConstants';

.container {
  width: 100%;
  background-color: @white;
  overflow-y: scroll;

  .lists {
    display: flex;
    flex-direction: row;

    .list {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
