@import '~LessConstants';

.dropdown {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 31px;
  font-family: @main-font;
  font-size: 14px;
  margin-right: 10px;

  select {
    width: 150px;
    height: 31px;
    background-color: @white;
    color: @graphite;
    font-size: inherit;
    border: 1px solid @misty-grey;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding: 4px 4px 4px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
  }

  &::before {
    content: '';
    width: 28px;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    background-color: @white;
    border: 1px solid @misty-grey;
    border-left: 0;
  }
}
