@import '~LessConstants';

.list-box {
  position: relative;
  background: @sky-blue;
  width: 250px;
  height: 60vh;
  border-radius: 5px;
  overflow-y: scroll; // throws dnd warning in console
  padding: 10px 10px 25px 10px;

  .title {
    font-family: @main-font;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: @white;
    padding: 5px 0 10px 0;
  }

  .delete-icon {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
  }
}
