@import '~LessConstants';

.container {
  width: 90vw;
  height: ~'calc(90vh - 60px)';
  border-radius: 5px;
  background-color: @white;
  padding: 20px;
  overflow-x: scroll;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
}
