@import '~LessConstants';

.container {
  width: 90vw;
  height: ~'calc(90vh - 60px)';
  border-radius: 5px;
  background-color: @white;
  padding: 20px;
  overflow-x: scroll;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);

  .general-text {
    font-family: 'Helvetica neue', sans-serif;
    color: @graphite;
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .content {
    max-width: 800px;

    .top-heading {
      font-family: @main-font;
      color: @graphite;
      font-size: 26px;
      border-bottom: solid 1px @misty-grey;
      padding-bottom: 10px;
    }

    .extra-margin {
      margin-top: 20px;
    }

    .general-info {
      margin-top: 20px;

      .heading {
        font-family: @main-font;
        color: @graphite;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
      }

      .text {
        .general-text();
        margin: 10px 0;

        span {
          font-weight: 600;
          font-style: italic;
        }
      }
    }

    .tech-overview {
      .general-text();
      margin: 20px 0 10px 0;
    }

    .technologies {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 600px;
      margin-top: 10px;

      .box {
        margin: 10px 0;

        @media (max-width: 570px) {
          flex: 0 1 100%;
        }

        @media (min-width: 571px) {
          flex: 0 1 50%;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          height: 80px;
          margin-right: 10px;
        }

        .text {
          .general-text();
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
